# URL do PocketBase (backend)
PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090

# Chave da API OpenWeatherMap (gratuita em openweathermap.org)
PUBLIC_WEATHER_API_KEY=sua_chave_aqui
PUBLIC_WEATHER_CITY=São Paulo
PUBLIC_WEATHER_COUNTRY=BR
